<div id="cookingOverlay" class="cooking hidden">
  <div class="cooking-top">
    <div>
      <div id="cookTitle" class="cook-title"></div>
      <div id="cookMeta" class="cook-meta"></div>
    </div>
    <button id="cookClose" class="btn btn-outline"><i class="fa-solid fa-xmark"></i></button>
  </div>

  <div class="cooking-body">
    <div id="cookStepIndex" class="cook-step-index"></div>
    <div id="cookStepText" class="cook-step-text"></div>
    <img id="cookStepImage" class="cook-step-image hidden" alt="">
  </div>

  <div class="cooking-bottom">
    <button id="cookPrev" class="btn btn-outline"><i class="fa-solid fa-arrow-left"></i> Назад</button>
    <div id="cookTimer" class="cook-timer"></div>
    <button id="cookNext" class="btn"><i class="fa-solid fa-arrow-right"></i> Далее</button>
  </div>
</div>
